/* Normalise browser default setting opinionated */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************/
/* general default styling
/******************************************/
body {
  /* font-family: "ubuntu", sans-serif; */
  font-family: "Lato", sans-serif;
  font-size: 100%;
  background-color: #f5f5f5;
  color: #949292;
}

img {
  width: 100%;
}

p,
h1,
h2 {
  line-height: 1.5;
  padding: 5px;
}

a:visited,
a:active,
a:link {
  color: #d6a7a5;
}

/******************************************/
/* Layout styling
/******************************************/
.container {
  width: 100%;
  margin: auto;
}

@media all and (min-width: 769px) {
  .container {
    width: 90%;
  }
}

@media all and (min-width: 990px) {
  .container {
    width: 80%;
  }
}

@media all and (min-width: 2000px) {
  .container {
    width: 1400px;
  }
}

/******************************************/
/* HeroArea component styling
/******************************************/

@keyframes slider {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  58% {
    left: -400%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  72% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  84% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: 0%;
  }
}
.hero-container {
  overflow: hidden;
  height: 200px;
}
.slider-container {
  position: relative;
  width: 500%;
  top: 0;
  left: 0;
  animation: slider 60s infinite;
}
.slider-container .slider {
  width: 20%;
  height: auto;
  float: left;
  position: relative;
}

@media all and (min-width: 769px) {
  .hero-container {
    height: 500px;
  }
}

/******************************************/
/* Filter component styling
/******************************************/
.filter-container {
  margin: 20px 0;
  padding: 5px 0;
}
#toggle-collapse {
  display: none;
}

.filter-heading {
  padding: 15px 1%;
  cursor: pointer;
}

.filter-heading h1 {
  font-size: 1.2em;
}

@media all and (max-width: 768px) {
  .filter-heading {
    border: 1px solid #eee;
  }
  .filter-heading .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #777;
    background: url(./assets/images/chevron-arrow-down.svg) no-repeat center /
      15px;
    float: right;
    cursor: pointer;
    margin-top: -5px;
    box-shadow: 0px 1px 2px rgba(77, 75, 75, 0.7);
  }

  #toggle-collapse:checked ~ .filter-heading .icon {
    background: url(./assets/images/chevron-arrow-up.svg) no-repeat center /
      15px;
  }

  .filter-button-container {
    transition: all 0.65s;
    max-height: 0;
    overflow: hidden;
    text-align: center;
  }

  #toggle-collapse:checked ~ .filter-button-container {
    max-height: 80px;
  }
}

@media all and (min-width: 769px) {
  .filter-container {
    border: 1px solid #eee;
    box-shadow: 0px 2px 4px #ccc;
    margin: 40px 0;
  }
  .filter-heading {
    float: left;
  }
  .filter-button-container {
    float: right;
    width: 70%;
    text-align: right;
    margin-top: 8px;
  }
}

/******************************************/
/* PostCard component styling
/******************************************/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

time {
  font-size: 11px;
  font-weight: 200;
  margin: 0 2%;
}

.postcard-container {
  margin: 30px 0px;
  border: 1px solid #eee;
  animation: fadeIn 0.5s ease-in;
}
.postcard-container header {
  position: relative;
}
.post-header {
  font-size: 1.0625em;
  padding: 30px 10px;
  font-weight: 300;
  color: #444;
}
.publish-date {
  font-size: 12px;
  text-align: right;
}
.post-text {
  padding: 10px;
}

.postcard-container a {
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
}

@media all and (min-width: 769px) {
  .postcard-container {
    min-height: 400px;
  }

  .post-header {
    font-size: 18px;
    font-weight: 400;
  }
}

/******************************************/
/* Post Card list component styling
/******************************************/

@media all and (min-width: 769px) {
  .postcardlist-container {
    text-align: center;
  }
  .postcardlist-container article {
    display: inline-block;
    vertical-align: top;
    width: 45.3333333%;
    margin: 30px 1%;
    text-align: left;
  }
}

@media all and (min-width: 990px) {
  .postcardlist-container article {
    width: 29.3333333%;
  }
}

/******************************************/
/* Social Media Icon component styling
/******************************************/
.social-media .icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: red;
  color: #fff;
  text-align: center;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  left: 10px;
}

.social-media .twitter {
  background-color: #00acee;
  background-image: url("./assets/images/twitter.svg");
}
.social-media .instagram {
  background-color: #3f729b;
  background-image: url("./assets/images/instagram.svg");
}
.social-media .aff {
  line-height: 40px;
}

/******************************************/
/* Button component styling
/******************************************/
.btn {
  padding: 10px;
  font-size: 0.75em;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 1%;
  outline: none;
  border: none;
}

.loadmore-post {
  text-align: center;
}

@media all and (min-width: 769px) {
  .btn {
    font-size: 1.125em;
  }
}

/******************************************/
/* Loading screen and error component styling
/******************************************/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-screen-container {
  margin: 100px auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.5;
}
.loading-screen-container span:last-child {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 3px dotted #777;
  border-radius: 50%;
  animation: rotate 0.4s infinite;
  margin-left: 10px;
}

.error-container {
  text-align: center;
  margin: 100px;
  font-size: 20px;
}

/******************************************/
/* Helper class styling 
/******************************************/
.clearfix::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
